<div ng-if="!filteredResults || filteredResults.length == 0">
    <span>Nothing to show yet. Please add something here <a class="btn btn-primary" href="#/Votables/new">Votables</a></span>
</div>
<div ng-if="filteredResults && filteredResults.length > 0" owl class="owl-carousel owl-theme">
    <div class="slide" ng-repeat="result in filteredResults">
        <div class="votes">{{result.votes}}</div>
        <div class="title">{{result.title}}</div>
        <img ng-src="{{result.imageURL}}" style="width: 740px" />
        <button class="btn btn-primary upvote" ng-click="upvote(result)">Upvote</button>
    </div>
</div>
